.contendordeproductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-producto{
    border-radius: 3px;
    background: #ffffff;
    box-shadow: 15px 10px 10px 2px rgba(0, 0, 0, 0.356);
    margin-bottom: 30px;
    margin-top: 10px;
    width: 400px;
    height: auto;
    float: left;
}
.contenido-carta{
    height: fit-content;
    padding: 5px;
    color: #8f4fca;
}
.opciones-carta{
    text-align: center;
    border-radius: 4px;
    box-shadow: 7px 7px 1px 1px rgba(17, 17, 17, 0.2);
    margin: 10px;
    padding: 5px;
    height: auto;
}
.info-carta{
    margin: 5px;
    height: auto;
}
.info-carta p{
    font-size: 15px;
    padding: 0;
}
.imagen-carta{
    justify-content: center;
    align-items: center;
    text-align: center;  
    height: 300px;
}
.imagen-carta img{
    margin: 15px;
    background-color: #8f4fca;
}

#idproducto{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ec1f1f;
}
#categoriaproducto{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ec1f1f;
}
#codigoproducto{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ec1f1f;
}
#nombreproducto{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #140422;
}
#precioproducto{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #217427;
}
#stockproducto{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #140422;
}
#descripcionproducto{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #140422;
}
#estadoproducto{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #140422;
}